.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* 1/4 3/4 */

.h-80 {
    height: 80px;
}

.h-40 {
    height: 40px;
}

.h-400 {
    height: 400px;
}

.p-lr-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.p-tb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.brdr-1 {
    border: 1px solid;
}